@page "/tickets/error"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3>La boleta ya fue usada, cuidado, posible fraude</h3>

<a class="btn btn-warning" href="/ticketManager">Volver</a>


@code {
   
}
